@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');

/* GENERAL */
*{
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}
p{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
button, .button{
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 12px;
    padding: 12px 45px;
    letter-spacing: 1px;
}
.body{
    background: #212121;
    padding-top: 70px;
    color: whitesmoke;
}

/* NAVBAR ET FOOTER */
.navbar-default, .footer{
    background-color: #191919;
    color: whitesmoke;
}
.footer {
    z-index: 2;
}

/* INDEX */
.button:hover{
    text-decoration: none;
    color: whitesmoke;
    background-color: #749181;
}

/* CONNEXION / INSCRIPTION / DECONNEXION */
.bodyConnexion{
    background: #212121;
    height: 100vh;
    padding-top: 70px;
}
.containerSignInAndUp{
    background: whitesmoke;
    border-radius: 10px;
    width: 768px;
    min-height: 480px;
}
.formContainer{
    top: 0;
    transition: all 0.6s ease-in-out;
}
.formContainer form{
    background: whitesmoke;
    padding: 0 50px;
}
.formContainer input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline: none!important;
}
button.ghostSignIn, button.ghostSignUp{
    background: transparent;
    border-color: whitesmoke;
}
.signIn{
    background-color: #B0BEAA;
    margin: 8px;
}
.signUp{
    background-color: #749181;
    margin: 8px;
}
.signInContainer{
    z-index: 2;
}
.signUpContainer{
    z-index: 1;
}
.overlayContainer{
    left: 50%;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlaySignInSignUp{
    background: linear-gradient(to right, #B0BEAA, #749181) no-repeat 0 0 / cover;
    color: whitesmoke;
    left: -100%;
    width: 200%;
    transform: translateX(0) ;
    transition: transform 0.6s ease-in-out;
}
.overlayPanel{
    padding: 0 40px;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlayRight{
    right: 0;
    transform: translateX(0);
}
.overlayLeft{
    transform: translateX(-20%);
}

/* Animation */
/* Move signin to the right */
.containerSignInAndUp.rightPanelActive .signInContainer{
    transform: translateX(100%);
}
/* Move overlay */
.containerSignInAndUp.rightPanelActive .overlayContainer{
    transform: translateX(-100%);
}
/* Sign up over Sign In */
.containerSignInAndUp.rightPanelActive .signUpContainer{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
/* Overlay Back to right */
.containerSignInAndUp.rightPanelActive .overlaySignInSignUp{
    transform: translateX(50%);
}
.containerSignInAndUp.rightPanelActive .overlayLeft{
    transform: translateX(0);
}
.containerSignInAndUp.rightPanelActive .overlayRight{
    transform: translateX(20%);
}
.coAndDeco {
    background-color: #749181;
    border-radius:100px;
}

/* ABOUT ME */
.headerAboutMe{
    background-color: #394741;
    color: whitesmoke;
}
hr{
    width: 40%;
    background-color: whitesmoke;
}
.align-social a {
    color: whitesmoke;
    margin: 1%;
}
.align-social a:hover {
    color: #749181;
    margin: 1%;
}

/* Competences */
.skill {
    width: fit-content;
    padding: 10px 5px 10px 0;
}

/* Progress bar */
.progressBar1, .progressBar2, .progressBar3, .progressBar4, .progressBar5, .progressBar6, .bar {
    width: 450px;
    height: 2em;
    border-radius: 0.3rem;
    background-color: whitesmoke;
}
.progressBar1, .progressBar2, .progressBar3, .progressBar4, .progressBar5, .progressBar6 {
    background: -webkit-linear-gradient(to left, #B0BEAA, #749181, #424f49);
    background: linear-gradient(to left, #B0BEAA, #749181, #424f49);
}
.progressBar1 {
    animation: mymove1 1s ease forwards;
}
.progressBar2 {
    animation: mymove1 1.2s ease forwards;
}
.progressBar3 {
    animation: mymove3 1.4s ease forwards;
}
.progressBar4 {
    animation: mymove2 1.6s ease forwards;
}
.progressBar5 {
    animation: mymove2 1.8s ease forwards;
}
.progressBar6 {
    animation: mymove3 2s ease forwards;
}

/* CSS animations with @keyframes */
@keyframes mymove1 {
    0% {
        top: 0;
        opacity: 1;
        width: 0;
    }
    100% {
        top: 0;
        opacity: 1;
        width: 80%;
    }
}
@keyframes mymove2 {
    0% {
        top: 0;
        opacity: 1;
        width: 0;
    }
    100% {
        top: 0;
        opacity: 1;
        width: 70%;
    }
}
@keyframes mymove3 {
    0% {
        top: 0;
        opacity: 1;
        width: 0;
    }
    100% {
        top: 0;
        opacity: 1;
        width: 60%;
    }
}
/* RESPONSIVE FOR SCREENS < 1040px */
@media screen and (max-width: 991px) {
    .skillPresentation {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .skillPresentation h2 {
        padding-left: 0%;
        padding-bottom: 20px;
    }
    .skill {
        width: 100%;
    }
    .bar {
        height: 2em;
        width: 100%;
        background-color: rgb(238, 238, 238);
        border-radius: 0.3rem;
    }
    .progressBar1, .progressBar2, .progressBar3, .progressBar4, .progressBar5, .progressBar6 {
        width: 100%;
        height: 2em;
        border-radius: 0.3rem;
        opacity: 0;
    }
}

/* Timeline */
.main-timeline:before {
    content: "";
    width: 2px;
    height: 100%;
    background: #749181;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}
.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}
.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}
.main-timeline .icon:before, .main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s
}
.main-timeline .icon:before {
    background: whitesmoke;
    border: 2px solid #232323;
    left: -3px
}
.main-timeline .icon:after {
    border: 2px solid #749181;
    left: 3px
}
.main-timeline .timeline:hover .icon:before {
    left: 3px
}
.main-timeline .timeline:hover .icon:after {
    left: -3px
}
.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #749181;
    margin: auto 0;
    position: absolute;
    top: -20px;
    right: 10px;
    bottom: 0
}
.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    z-index: 1
}
.main-timeline .date-outer:before, .main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}
.main-timeline .date-outer:before {
    background: whitesmoke;
    border: 2px solid #232323;
    left: -6px
}
.main-timeline .date-outer:after {
    border: 2px solid #749181;
    left: 6px;
}
.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}
.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}
.main-timeline .date {
    top: 25%;
    left: 0
}
.main-timeline .month, .main-timeline .year {
    color: #212121;
}
.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}
.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

@media only screen and (max-width: 991px) {
    .main-timeline #title {
        width: inherit;
    }
    .main-timeline #description {
        width: inherit;
    }
    .main-timeline #date-content:before{
        top: 6px;
    }
}

/* Projet */
.bloc-projet {
    background-color: #394741;
    width: 300px;
    height: 450px;
    transition: all 0.3s ease-in-out;
}
.bloc-projet:hover {
    transform: translateY(-6px);
}
.bloc-img img {
    object-fit: cover;
}
.projet-flex img {
    max-height: 150px;
}
.bloc-tag, .bloc-date {
    letter-spacing: 1px;
    color: #B0BEAA;
}

/* DASHBOARD */
.btnDashboard{
    color: whitesmoke;
    background: #212121;
    border: #212121;
}
.blocDashBoard {
    background-color: #394741;
    transition: all 0.3s ease-in-out;
}
.blocDashBoard:hover {
    transform: translateY(-4px);
}